*{
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    
}
.container{
    border: 4px solid lightgray;
    display: flex;
    justify-content: space-between;
   

}
.boxsmall{
    border: 4px solid lightgray;
}



.box{
    height: 50px;
    margin: 15px;
    
    
}
.boxwrapper{
    width: 45%;

}
.boxbig{
    display: flex;
    width: 45%;
    border: 4px solid lightgray;
    margin: 15px;
    
}
.boxsmaller{
    display: flex;
    border: 4px  lightgray;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.boxmini{
    margin: 0;
    width: 33%;
    border: 4px solid lightgray;
    

}